@import "./globals.scss";
.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .logoArea {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 75px;
    }
}
